<footer id="chan-trang">
  <div class="khung chan-trang-khung">

    <div class="cot-footer">
      <h2>STRIDEX<span>.VN</span></h2>
      <p>Shop đồ thể thao nam nữ, giày thể thao, quần áo tập luyện và phụ kiện chính hãng.</p>

      <p><i class="fa-solid fa-location-dot"></i> Quy Nhơn, Bình Định</p>
      <p><i class="fa-solid fa-phone"></i> 0905 123 456</p>
      <p><i class="fa-solid fa-envelope"></i> support@stridex.vn</p>
    </div>

    <div class="cot-footer">
      <h3>Thông tin shop</h3>
      <a routerLink="/trang-chu">Trang chủ</a>
      <a routerLink="/san-pham">Sản phẩm</a>
      <a routerLink="/gio-hang">Giỏ hàng</a>
      <a routerLink="/dang-nhap">Đăng nhập</a>
    </div>

    <div class="cot-footer">
      <h3>Kết nối & thanh toán</h3>

      <div class="mang-xa-hoi">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        <a href="#"><i class="fa-solid fa-building-columns"></i></a>
      </div>

      <p class="thanh-toan">
        Hỗ trợ thanh toán qua ngân hàng, ví điện tử và thanh toán khi nhận hàng.
      </p>
    </div>

  </div>

  <div class="ban-do-footer">
    <h3>Vị trí cửa hàng STRIDEX</h3>

    <iframe src="https://www.google.com/maps?q=Quy%20Nhon%20Binh%20Dinh%20Vietnam&output=embed" width="100%"
      height="280" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
  </div>

  <div class="ban-quyen">
    © 2026 STRIDEX SPORT. Website bán đồ thể thao - Bài cuối kỳ Angular + .NET
  </div>
</footer>